In [66]:
import pandas as pd
datario_tx_precip_alerta_rio = pd.read_csv("database_csv/taxa_precipitacao_alertario.csv")

In [67]:
datario_tx_precip_alerta_rio.shape

(9710540, 9)

In [68]:
# Concatenar 'data_particao' e 'horario'
datario_tx_precip_alerta_rio['data_hora'] = datario_tx_precip_alerta_rio['data_particao'] + ' ' + datario_tx_precip_alerta_rio['horario']

# Converter para datetime
datario_tx_precip_alerta_rio['data_hora'] = pd.to_datetime(datario_tx_precip_alerta_rio['data_hora'])
datario_tx_precip_alerta_rio['data_particao'] = pd.to_datetime(datario_tx_precip_alerta_rio['data_particao'])


datario_tx_precip_alerta_rio = datario_tx_precip_alerta_rio.sort_values(by='data_hora', ascending=True)

In [69]:
num_NaT = datario_tx_precip_alerta_rio['data_hora'].isna().sum()
num_NaT

2761

In [70]:
datario_tx_precip_alerta_rio = datario_tx_precip_alerta_rio[~pd.isna(datario_tx_precip_alerta_rio["data_hora"])]

In [71]:
estacao = datario_tx_precip_alerta_rio["id_estacao"].unique()
# Preencher valores NaN com 0 nas colunas especificadas
colunas_chuva = ['acumulado_chuva_15_min', 'acumulado_chuva_1_h', 'acumulado_chuva_4_h', 'acumulado_chuva_24_h']

datario_tx_precip_alerta_rio[colunas_chuva] = datario_tx_precip_alerta_rio[colunas_chuva].fillna(0)
datario_tx_precip_alerta_rio[colunas_chuva] = datario_tx_precip_alerta_rio[colunas_chuva].astype(float)

In [72]:
datario_tx_precip_alerta_rio_red = datario_tx_precip_alerta_rio.loc[datario_tx_precip_alerta_rio['data_particao'].dt.year >= 2016].copy()

In [73]:
datario_tx_precip_alerta_rio_red.dtypes

primary_key                       object
id_estacao                         int64
acumulado_chuva_15_min           float64
acumulado_chuva_1_h              float64
acumulado_chuva_4_h              float64
acumulado_chuva_24_h             float64
acumulado_chuva_96_h             float64
horario                           object
data_particao             datetime64[ns]
data_hora                 datetime64[ns]
dtype: object

In [75]:
# grupo_estacao = datario_tx_precip_alerta_rio_red.groupby('id_estacao')
datario_tx_precip_alerta_rio_red = datario_tx_precip_alerta_rio_red[datario_tx_precip_alerta_rio_red["id_estacao"] == 1].copy().reset_index(drop = True)
# Calculando o acumulado de 45 minutos para cada estação
datario_tx_precip_alerta_rio_red['acumulado_45min'] = datario_tx_precip_alerta_rio_red['acumulado_chuva_15_min'].rolling(window=3).sum()


datario_tx_precip_alerta_rio_red

,primary_key,id_estacao,acumulado_chuva_15_min,acumulado_chuva_1_h,acumulado_chuva_4_h,acumulado_chuva_24_h,acumulado_chuva_96_h,horario,data_particao,data_hora,acumulado_45min
0,1_2016-01-01 21:30:00,1,0.2,0.2,0.2,0.2,16.8,21:30:00,2016-01-01,2016-01-01 21:30:00,NaN
1,1_2016-01-01 21:45:00,1,0.0,0.2,0.2,0.2,16.8,21:45:00,2016-01-01,2016-01-01 21:45:00,NaN
2,1_2016-01-01 22:00:00,1,0.0,0.2,0.2,0.2,16.8,22:00:00,2016-01-01,2016-01-01 22:00:00,0.2
3,1_2016-01-01 22:15:00,1,2.6,2.8,2.8,2.8,19.4,22:15:00,2016-01-01,2016-01-01 22:15:00,2.6
4,1_2016-01-01 22:30:00,1,1.4,4.0,4.2,4.2,20.6,22:30:00,2016-01-01,2016-01-01 22:30:00,4.0
...,...,...,...,...,...,...,...,...,...,...,...
96061,1_2024-03-22 13:35:00,1,0.4,2.0,8.4,10.8,10.8,13:35:00,2024-03-22,2024-03-22 13:35:00,2.0
96062,1_2024-03-22 13:40:00,1,0.2,2.0,8.2,10.8,10.8,13:40:00,2024-03-22,2024-03-22 13:40:00,1.4
96063,1_2024-03-22 13:50:00,1,0.4,2.4,7.8,11.2,11.2,13:50:00,2024-03-22,2024-03-22 13:50:00,1.0
96064,1_2024-03-22 13:55:00,1,0.4,2.2,7.4,11.2,11.2,13:55:00,2024-03-22,2024-03-22 13:55:00,1.0
96065,1_2024-03-22 14:00:00,1,2.2,3.8,9.0,13.0,13.0,14:00:00,2024-03-22,2024-03-22 14:00:00,3.0